.space-title {
    color: #ffffff;
    background-color: #409EFF;
    margin-left: 60px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    position: relative;
    top: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.space-hr {
    position: relative;
    top: 25px;
    border: 1px solid gray;
}

.image-space {
    position: relative;
    top: 30px;
    margin: 10px;
    height: 440px;
    border: 1px solid #409EFF;
}

.image-space-page {
    position: relative;
    top: 27px;
    left: 300px;
}

.space-setting-search {
    position: absolute;
    width: 800px;
    top: 90px;
    left: 500px;
    height: 30px;
    line-height: 30px;
}

.space-setting-search-name-title {
    position: absolute;
    top: -5px;
    left: 210px;
}

.space-setting-search-name {
    width: 130px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: 245px;
}

.space-setting-search-type-title {
    position: absolute;
    left: 385px;
    top: -5px;
}

.space-setting-search-type {
    position: absolute;
    left: 420px;
    top: -10px;
    width: 90px;
}

.space-setting-search-delFlag-title {
    position: absolute;
    left: 530px;
    top: -5px;
}

.space-setting-delFlag {
    position: absolute;
    left: 590px;
    top: -10px;
    width: 100px;
}

.space-search{
    position: absolute;
    top: -10px;
    left: 730px;
}

.space-folder-add{
    position: absolute;
    left: 460px;
    top: 80px;
    z-index: 1;
}

.space-folder-download{
    position: absolute;
    left: 560px;
    top: 80px;
    z-index: 1;
}

.add-folder {
    width: 1700px;
    height: auto;
    position: absolute;
    top: 10px;
    left: -100px;
}

.folder-name {
    position: relative;
    top: -20px;
    left: 130px;
    width: 180px;
}

.folder-name-title{
    position: relative;
    top: -20px;
    left: 130px;
}

.folder-index-title {
    position: relative;
    top: 30px;
    left: -170px;
}

.folder-index {
    position: relative;
    top: -10px;
    left: 220px;
    width: 180px;
}

.folder-type{
    position: relative;
    top: 40px;
    left: -13px;
}

.space-folder-type{
    position: relative;
    top: 40px;
    left: -10px;
    width: 180px;
}

.add-cancel, .add-submit{
    position: relative;
    top: 10px;
}

