.space-title {
    color: #ffffff;
    background-color: #409EFF;
    margin-left: 60px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    position: relative;
    top: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.space-hr {
    position: relative;
    top: 25px;
    border: 1px solid gray;
}

.image-space {
    position: relative;
    top: 30px;
    margin: 10px;
    height: 440px;
    border: 1px solid #409EFF;
}

.image-space-page {
    position: relative;
    top: 27px;
    left: 235px;
}