.container {
	background: url("../image/AI.jpg") no-repeat;
	background-size: 100%, 100%;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	overflow: hidden;
}

.module {
	width: 800px;
	height: 500px;
	position: absolute;
	top: 55%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.list {
	float: left;
	margin: 10px;
	background: aqua;
	width: 340px;
	height: 200px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.6s;
	color: rgb(85, 85, 85);
	font-family: "微软雅黑", serif;
	font-size: 25px;
	padding: 10px;
	text-align: center;
}

.font {
	position: relative;
	top: -45px;
	left: 13%;
}

.list:hover {
	transform: scale(1.2);
}

.list:hover > .icon {
	color: rgb(85, 85, 85);
}

.icon {
	position: relative;
	top: 35%;
	left: -10%;
	font-size: 100px;
	color: powderblue;
}

.top {
	position: absolute;
	top: 25px;
	left: 500px;
	width: 800px;
}

.iconProvince {
	color: white;
	position: relative;
	top: 3px;
	left: -5px;
}

.province {
	width: 100px;
}

.city {
	width: 120px;
}

.el-dropdown {
	vertical-align: top;
}

.el-dropdown + .el-dropdown {
	margin-left: 15px;
}

.el-icon-arrow-down {
	font-size: 12px;
}

.info {
	position: relative;
	top: -29px;
	left: 285px;
	color: wheat;
}

.content {
	float: left;
	margin-left: 30px;
}

.iconDate {
	position: absolute;
	left: -8px;
	font-size: 25px;
	top: -6px;
	color: white;
	font-weight: bold;
}

.iconDirect {
	position: absolute;
	left: 145px;
	font-size: 25px;
	top: -5px;
	color: white;
	font-weight: bold;
}

.iconTemperature {
	position: absolute;
	left: 240px;
	font-size: 25px;
	top: -6px;
	color: white;
	font-weight: bold;
}

.iconWeather {
	color: white;
	position: absolute;
	top: 0;
	left: 315px;
	font-weight: bold;
}

.contentDate {
	float: left;
	margin-left: 30px;
	position: absolute;
	left: -10px;
}

.contentDirect {
	position: absolute;
	left: 175px;
}
.contentTemperature {
	position: absolute;
	left: 260px;
}

.contentWeather {
	position: absolute;
	left: 335px;
}

.login, .adminDropDown {
	position: absolute;
	top: 25px;
	left: 1200px;
}

.username, .password, .code {
	margin-bottom: 10px;
}

.username, .password {
	width: 300px;
}

.code {
	width: 150px;
}

.loginCode {
	position: absolute;
	left: 230px;
}

.submit {
	position: absolute;
	top: 40px;
	left: 310px;
}

.cancel {
	position: absolute;
	left: 310px;
	top: 140px;
}
