.container {
	background: url("../image/AI.jpg") no-repeat;
	background-size: 100%, 100%;
	width: 1903px;
	height: 946px;
	padding: 0;
	margin: 0;
	position: relative;
}

.module {
	width: 800px;
	height: 500px;
	position: absolute;
	top: 55%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.list {
	float: left;
	margin: 10px;
	background: aqua;
	width: 340px;
	height: 200px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.6s;
	color: rgb(85, 85, 85);
	font-family: "微软雅黑", serif;
	font-size: 25px;
	padding: 10px;
	text-align: center;
}

.font {
	position: relative;
	top: -45px;
	left: 13%;
}

.list:hover {
	transform: scale(1.2);
}

.list:hover > .icon {
	color: rgb(85, 85, 85);
}

.icon {
	position: relative;
	top: 35%;
	left: -10%;
	font-size: 100px;
	color: powderblue;
}
